# Try to quieten Dependabot reporting
version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "quarterly"
    ignore:
      - dependency-name: "elasticsearch[async]" # see PR 283
      - dependency-name: "elasticsearch-dsl" # see PR 283
