server:
  port: 8080             # Port to bind to
  bind: 127.0.0.1        # IP to bind to - typically 127.0.0.1 for localhost or 0.0.0.0 for all IPs


database:
  server: localhost      # The hostname of the ElasticSearch database
  port: 9200             # ES Port
  secure: false          # Whether TLS is enabled on ES
  url_prefix: ~          # URL prefix, if proxying to ES
  db_prefix: ponymail    # DB prefix, usually 'ponymail'
  max_hits: 15000        # Maximum number of emails to process in a search

tasks:
  refresh_rate:  150     # Background indexer run interval, in seconds
