# Items in this file must have a licence compatible with AL 2.0
aiohttp~=3.6.2                   # AL2.0
PyYAML~=5.3.1                    # WTFPL
multipart~=0.2.1                 # MIT
elasticsearch-dsl>=7.0.0,<8.0.0  # AL2.0
elasticsearch~=7.9.1             # AL2.0
certifi~=2020.6.20               # MPL2.0
netaddr~=0.8.0                   # BSD, MIT
formatflowed~=2.0.0              # Python Software Foundation
google-auth~=1.21.1              # AL2.0
aiosmtplib~=1.1.3                # MIT